<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Register new credential</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
      <ion-item>
          <ion-label floating>Service Name: </ion-label>
          <ion-input type="text" maxlength="100" [(ngModel)]="title"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label floating>Credential: </ion-label>
          <ion-input type="text" maxlength="100" [(ngModel)]="secret" (ionChange)="textareaMaxLengthValidation()"></ion-input>
      </ion-item>
  </ion-list>

  <ion-button type="button" color="primary" expand="block" (click)="save()">
    Save
  </ion-button>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="danger"(click)="close()">
    <ion-icon name="close-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>