<ion-header>
  <ion-toolbar>
      <ion-title style="text-align: center;">Multifactor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
      <ion-item-sliding *ngFor="let password of passwords">

        <ion-item (click)="copy(password.password)">
          <ion-label value="{{password.id}}">
            <span class="item_servico"> Service: {{password.title}}</span>
            
            <div class="div_codigo">
              <span class="codigo01">{{password.password}}</span>
            </div>

          </ion-label>
        </ion-item>

        <ion-item-options side="end" icon-start>

          <ion-item-option color="danger" (click)="remove_credential(password.id)">  
            <ion-icon slot="top" name="trash" style="width: 30px; height: 30px; margin: 5px 5px 5px 5px;"></ion-icon>
            Delete
          </ion-item-option>

        </ion-item-options>

      </ion-item-sliding>
  </ion-list>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-bottom: 50px !important;">
  <ion-fab-button>
    <ion-icon name="add" (click)="initModal()"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-footer padding-left>
    <p style="text-align: center;">{{ (passwords.length > 0)  ? countdown+' seconds left': 'No credential registered'}}</p>
</ion-footer>